@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@mixin flex_center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    
}
$background: (linear-gradient(34deg, rgba(200,228,255,1) 4%, rgba(126,135,245,1) 35%, rgba(49,102,241,1) 60%, rgba(18,58,161,1) 91%));

*{
    margin: 0;
    padding: 0;
}
.lang_list{
    color: white;
    @include flex-center(row);
    height: 40vh;
    background-color: rgb(100, 154, 235);
    border-radius: 15px;
}
.lang_list li{
    padding-left: 2rem;
    font-size: 1.5rem;
    font-style: "Poppins";
}
@media (max-width:480px) {
    .lang_list li{
        padding-left: 0.5rem;
        font-size: 1rem;
        font-style: "Poppins";
    }
}

body{
    background: $background;
  }

li{
    padding: 0.2rem ;
}

.row{
padding-bottom: 1rem;
}
#about_me, #portfolio{
    padding: 15rem 0 5rem 0;
}

#contact_list{
    @include flex_center(row)
}
#top{
    float: right;
    margin: 1rem 3rem;
    width: 5rem;
}
#title{
    cursor: pointer;
}



#profile_img{
    // width: 10rem;
    border-radius: 15px;
    margin: auto;
}